*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: var(--text-color);
  letter-spacing: 0.04em;
  line-height: 1.5;
  box-sizing: border-box;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.section {
  padding: 30px 20px;
  max-width: 100%;
  margin: 0 auto;
}
.hidden-items {
  display: none;
}
.show-modal {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: 99;
  transition: transform 500ms ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hidden-modal {
  display: none;
  opacity: 0;
  pointer-events: none;
  transform: scale(0.1);
}
:root {
  --pink-bg: #ffb8ca;
  --light-pink-bg: #fff5f6;
  --product-section-bg: #e5e5e5;
  --how-it-is-made-bg: #fff5f6;
  --testimonial-card-bg: #fafafa;
  --brown-bg: #f0d1a5;
  --light-green: #c2e297;
  --mobile-menu-bg: #e17992;
  --red-title-text: rgba(212, 20, 67, 1);
  --pink-text: #ffa5ba;
  --light-brown-text: #907e82;
  --quotation-svg-color: #e1e1e1;
  --red-dot-color: #c7133e;
  --red-svg-home: #d31342;
  --testimonials-btn-color: #d9d9d9;
  --mobile-menu-border: #e18298;
  --white-color: rgba(255, 255, 255, 1);
  --black-color: #000000;
}
.hero-header {
  padding: 8px 20px;
  background-color: var(--pink-bg);
  display: flex;
  justify-content: space-around;
  padding-bottom: 0px;
}
.hero-header-container {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  height: 502px;
  background-image: url('../images/header/icecream.png'),
    url('../images/header/ellipse-header.png');
  background-size: 175px, 400px;
  background-repeat: no-repeat;
  background-position: center bottom, right center;
}
.hero-header-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.page-header_logo-container {
  display: block;
  width: 200px;
  height: 50px;
  flex: 0 0 auto;
}
.icon-header-logo {
  width: 100%;
  height: 100%;
}
.navigation-menu__list {
  flex-direction: row;
  color: var(--white-color);
  font-size: 16px;
  gap: 35px;
  display: none;
  padding: 0 10px;
}
.navigation-menu__list--item {
  display: flex;
  justify-content: space-around;
}
.navigation-menu__list--item:hover,
.navigation-menu__list--item:focus {
  color: var(--red-title-text);
  cursor: pointer;
}
.menu-toggle {
  height: 25px;
  width: 15px;
  background-color: rgba(0, 0, 0, 0);
  border: rgba(0, 0, 0, 0);
  margin-right: 20px;
  margin-left: auto;
}
.menu-toggle:hover,
.menu-toggle:focus {
  cursor: pointer;
}
.menu-toggle--svg {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
}
.buy-button {
  width: 160px;
  height: 44px;
  border-radius: 22px;
  font-size: 16px;
  line-height: 21px;
  color: var(--red-title-text);
  background-color: var(--white-color);
  border: 1px rgba(0, 0, 0, 0);
  justify-content: space-around;
  align-items: center;
  display: none;
}
.buy-button:hover,
.buy-button:focus {
  cursor: pointer;
  background-color: #ecebeb;
}
.buy-button--svg {
  height: 10px;
  width: 8px;
}
.hero-header-hero-section {
  display: flex;
  height: 100%;
  justify-content: space-between;
}
.hero-header-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header-title-container {
  width: 210px;
  height: 110px;
}
.hero-section--title,
.form-title,
.items-order__title,
.hero-section--title_span {
  font-family: 'Titan One', sans-serif;
  font-weight: 400;
  font-size: 26px;
  line-height: 29px;
  color: var(--white-color);
  text-transform: uppercase;
}
.hero-section--title_span {
  color: var(--red-title-text);
  font-size: 48px;
  line-height: 46px;
}
.products-button {
  width: 62px;
  height: 24px;
  border-radius: 20px;
  font-size: 8px;
  line-height: 10px;
  color: var(--white-color);
  background-color: var(--red-title-text);
  border: 1px rgba(0, 0, 0, 0);
}
.products-button:hover,
.products-button:focus {
  cursor: pointer;
}
.how-is-made-button {
  width: 82px;
  height: 24px;
  border-radius: 20px;
  font-size: 8px;
  line-height: 10px;
  color: var(--red-title-text);
  background-color: var(--white-color);
  border: 1px rgba(0, 0, 0, 0);
}
.how-is-made-button:hover,
.how-is-made-button:focus {
  cursor: pointer;
  background-color: #ecebeb;
}
.bio-eco-holder {
  display: flex;
}
.text-holder {
  width: 115px;
  height: 50px;
}
.bio-eco-text {
  font-weight: 400;
  font-size: 8px;
  color: var(--white-color);
}
.button-bio-eco {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: var(--white-color);
  border: 1px rgba(0, 0, 0, 0);
}
.button-bio-eco--svg {
  width: 100%;
  height: 100%;
  fill: var(--red-title-text);
  border-radius: 50%;
}
.bio-eco-image {
  width: 154px;
  height: 154px;
}
.counter__list--item {
  background-image: url('../images/header/ellipseh@2x.png');
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: top right;
  padding-top: 9px;
}
.counter__list--item-number {
  font-family: 'Titan One', sans-serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 0.9;
  color: var(--red-title-text);
}
.counter__list--item-type {
  color: var(--white-color);
  font-weight: 400;
  font-size: 8px;
}
@media (max-width: 767px) {
  .display-none-header {
    display: none;
  }
}
@media (min-width: 768px) {
  .hero-header {
    padding: 32px;
    padding-bottom: 0px;
  }
  .hero-header-hero-section {
    padding-top: 20px;
  }
  .hero-header-container {
    height: 416px;
    background-image: url('../images/header/icecream.png'),
      url('../images/header/tasty.png'),
      url('../images/header/ellipse-header.png');
    background-size: 150px, 250px, 400px;
    background-repeat: no-repeat;
    background-position: bottom center, bottom right, center center;
  }
  .hero-header-left {
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 16px;
  }
  .row-breaker {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .buy-button {
    display: flex;
  }
}
@media (min-width: 1280px) {
  .hero-header-container {
    height: 664px;
    max-width: 2000px;
    background-image: url('../images/header/icecream.png'),
      url('../images/header/tasty.png'),
      url('../images/header/ellipse-header.png');
    background-size: 255px, 400px, 580px;
    background-repeat: no-repeat;
    background-position: bottom center, bottom right, center center;
  }
  .hero-header-left {
    justify-content: space-around;
  }
  .header-title-container {
    width: 280px;
    height: 140px;
  }
  .hero-section--title,
  .form-title,
  .items-order__title {
    font-size: 38px;
  }
  .hero-section--title_span {
    font-size: 58px;
  }
  .products-button {
    width: 110px;
    height: 40px;
    font-size: 14px;
  }
  .how-is-made-button {
    width: 140px;
    height: 40px;
    font-size: 14px;
  }
  .bio-eco-image {
    width: 213px;
    height: 216px;
  }
  .text-holder {
    width: 200px;
    height: 80px;
  }
  .bio-eco-text {
    font-size: 14px;
  }
  .button-bio-eco {
    width: 26px;
    height: 26px;
  }
  .counter__list--item {
    background-image: url('../images/header/ellipseh@2x.png');
    background-size: 35px;
    background-repeat: no-repeat;
    background-position: top right;
  }
  .counter__list--item-number {
    font-size: 46px;
    line-height: 0.9;
  }
  .counter__list--item-type {
    font-size: 14px;
  }
  .navigation-menu__list {
    display: flex;
  }
  .menu-toggle {
    display: none;
  }
}
.customer-reviews {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 2000px;
}
.customer-reviews__image img {
  width: 85px;
  height: 85px;
}
.customer-reviews__text-container {
  background-color: var(--testimonial-card-bg);
  margin-top: 32px;
  margin-bottom: 16px;
  padding: 43px 50px 17px 50px;
}
.underline-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 31px;
  color: var(--black-color);
  text-align: center;
  background-image: repeating-linear-gradient(
    to top,
    var(--quotation-svg-color),
    var(--quotation-svg-color) 1px,
    transparent 1px,
    transparent 32px
  );
  text-indent: 10px;
  position: relative;
  z-index: 4;
}
.underline-text::before {
  content: url('../images/customer-reviews/quotes.svg');
  position: absolute;
  z-index: -1;
  top: -15px;
  left: -10px;
}
.red-dots-container {
  display: inline-flex;
  gap: 10px;
  margin-bottom: 16px;
}
.red-dots-container .red-dot {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--red-dot-color);
}
.reviewer-name {
  font-weight: 500;
  line-height: 1.85;
  color: var(--black-color);
}
.customer-reviews-btns {
  margin-top: 16px;
  display: flex;
  gap: 18px;
}
.review-btn {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  border-color: rgba(0, 0, 0, 0);
  background-color: var(--testimonials-btn-color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border-color: rgba(0, 0, 0, 0);
}
.review-btn:hover {
  cursor: pointer;
}
.btn-selected {
  background-color: rgba(0, 0, 0, 0);
  position: relative;
}
.review-btn__selected {
  position: absolute;
  fill: var(--red-svg-home);
}
.review-btn__selected:hover {
  cursor: pointer;
}

/* Modal */

.close-contacts-modal,
.close-map-modal {
  border-radius: 50%;
  background-color: var(--white-color);
  border: 2px solid var(--pink-text);
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  color: var(--pink-bg);
  cursor: pointer;
}
.close-contacts-modal:hover,
.close-map-modal:hover {
  transform: scale(1.25);
  transition: all 0.3s linear;
  background: var(--pink-text);
}
.close-contacts-modal,
.close-map-modal {
  position: absolute;
  top: 10px;
  right: 10px;
}
.map {
  width: 100%;
  height: 300px;
}
.map-modal__border {
  border: 2px solid var(--pink-text);
  margin-bottom: 10px;
  margin-top: 30px;
  width: 100%;
  height: 310px;
}
.contacts-modal {
  padding: 30px 30px;
  position: relative;
  margin: 0 auto;
  width: -moz-fit-content;
  width: fit-content;
}
.contacts-modal__inner,
.map-modal__inner {
  width: 328px;
  height: 581px;
  box-shadow: 0px 1px 27px 2px rgba(212, 20, 67, 0.44);
  -webkit-box-shadow: 0px 1px 27px 2px rgba(212, 20, 67, 0.44);
  -moz-box-shadow: 0px 1px 27px 2px rgba(212, 20, 67, 0.44);
}
.close-icon {
  fill: var(--red-title-text);
}
.close-icon:hover {
  fill: var(--white-color);
}
.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.04em;
  margin-top: 40px;
  padding: 10px;
  color: var(--red-title-text);
  max-width: auto;
}
.request-form {
  font-size: 12px;
  line-height: 14px;
  text-align: left;
  color: var(--red-title-text);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.request-form :hover,
.request-form:focus {
  fill: var(--red-title-text);
}
textarea:focus,
textarea:hover,
.request-form label input:focus,
.request-form label input:hover {
  border: 1px solid var(--red-title-text);
}
.request-form label input {
  padding-left: 40px;
  border: 1px solid var(--pink-text);
  border-radius: 4px;
  cursor: pointer;
}
input {
  flex-wrap: wrap;
  justify-content: center;
  width: 248px;
  height: 40px;
  margin-top: 4px;
}
textarea {
  flex-wrap: wrap;
  justify-content: center;
  width: 248px;
  height: 120px;
  margin-top: 4px;
  margin-bottom: 30px;
  resize: none;
  padding-left: 16px;
  padding-top: 12px;
  border: 1px solid var(--pink-text);
  border-radius: 4px;
  cursor: pointer;
  color: currentColor;
}
.contacts-request-btn {
  border-radius: 22px;
  border: 2px solid var(--pink-text);
  font-size: 16px;
  text-align: center;
  width: auto;
  padding: 2px 20px;
  height: 30px;
  background: var(--white-color);
  color: var(--red-svg-home);
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contacts-request-btn:hover,
.contacts-request-btn :focus {
  cursor: pointer;
  transform: scale(1.25);
  transition: all 0.3s linear;
  background: var(--pink-text);
  color: var(--white-color);
}
.map-modal__inner {
  padding: 30px 30px;
  margin: 0 auto;
  max-width: 381px;
  box-shadow: 0px 1px 27px 2px rgba(212, 20, 67, 0.44);
  -webkit-box-shadow: 0px 1px 27px 2px rgba(212, 20, 67, 0.44);
  -moz-box-shadow: 0px 1px 27px 2px rgba(212, 20, 67, 0.44);
}
.modal-p {
  font-size: 16px;
  line-height: 14px;
  text-align: center;
  color: var(--red-title-text);
  margin-bottom: 20px;
}
@media screen and (min-width: 480px) {
  .contacts-modal__inner,
  .map-modal__inner {
    width: 450px;
    height: 609px;
  }
  .map-modal__inner {
    max-width: 450px;
  }
  input {
    width: 370px;
  }
  textarea {
    width: 370px;
    height: 120px;
  }
  .modal-title {
    font-size: 25px;
    letter-spacing: 0.04em;
    padding: 30px 40px;
  }
  .modal-p {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .section-contacts {
    padding-bottom: 40px;
  }
  .contacts-modal__inner,
  .map-modal__inner {
    width: 528px;
    height: 681x;
  }
  .map-modal__inner {
    max-width: 528px;
  }
  input {
    width: 448px;
  }
  textarea {
    width: 448px;
  }
}
.contacts-modal__inner,
.map-modal__inner {
  background-color: var(--light-pink-bg);
  width: 80%;
  border-radius: 20px;
  position: relative;
}
.map-modal__inner {
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .contacts-modal__inner,
  .map-modal__inner {
    width: -moz-fit-content;
    width: fit-content;
  }
  .map-modal__inner {
    width: 60%;
  }
}
